# Configurações do Blog
BLOG_NAME=DIO Blog
BLOG_TITLE=Blog em NextJS - Trilha React
BLOG_FOOTER_TEXT=Desenvolvido no Bootcamp DIO - Trilha React

# Configurações do Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-public-key-here
SUPABASE_KEY=your-anon-public-key-here
